/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@import "intl-tel-input/build/css/intlTelInput.min";

:root {
  --iti-path-flags-1x: url("../../../assets/images/intltelinput/flags.png?1");
  --iti-path-flags-2x: url("../../assets/images/intltelinput/flags@2x.png?1");
  --iti-path-globe-1x: url("../../assets/images/intltelinput/globe.png");
  --iti-path-globe-2x: url("../../assets/images/intltelinput/globe@2x.png");
}

.nf-form-cont {
    .iti {
        width: 100%
    }

    .iti__country-list {
        z-index: 3;
    }
}
