<script id="tmpl-nf-field-spn" type="text/template">
    <input
        type="hidden"
        value="{{{ _.escape( data.value ) }}}"
        id="nf-field-{{{ data.id }}}-hidden"

        <# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute + '-hidden' || 'nf-field-' + data.id + '-' + data.type + '-hidden'}}"
        <# } else { #>
            name="{{ data.custom_name_attribute + '-hidden' || 'nf-field-' + data.id + '-hidden'}}"
        <# } #>
    >

    <input
        type="tel"
        value="{{{ _.escape( data.value ) }}}"
        class="ninja-forms-field nf-element"
        id="nf-field-{{{ data.id }}}"

        <# if( ! data.disable_browser_autocompletes ){ #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
            autocomplete="tel"
        <# } else { #>
            name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
            {{{ data.maybeDisableAutocomplete() }}}
        <# } #>

        aria-invalid="false"
        aria-describedby="nf-error-{{{ data.id }}}"
        aria-labelledby="nf-label-field-{{{ data.id }}}"

        {{{ data.renderPlaceholder() }}}

        {{{ data.maybeRequired() }}}

        <# if( data.allow_ip_lookup ){ #>
            data-allow-ip-lookup="{{{ data.allow_ip_lookup }}}"
        <# } #>

        <# if( data.separate_dial_code ){ #>
            data-separate-dial-code="{{{ data.separate_dial_code }}}"
        <# } #>

        data-default-country="{{{ data.default_country }}}"
        data-preffered-countries="{{{ data.preffered_countries }}}"
        data-only-countries="{{{ data.only_countries }}}"
        data-allow-dropdown="{{{ data.allow_dropdown }}}"
        data-national-mode="{{{ data.national_mode }}}"
        data-auto-hide-dial-code="{{{ data.auto_hide_dial_code }}}"

        <# if( data.exclude_countries ){ #>
            data-exclude-countries="{{{ data.exclude_countries }}}"
        <# } #>

        data-format-on-display="{{{ data.format_on_display }}}"
    >
</script>
