<script id="tmpl-nf-field-spn" type="text/template">
	<input
			type="hidden"
			value="{{{ _.escape( data.value ) }}}"
			class="nf-element"
			id="nf-field-{{{ data.id }}}-hidden"

			<# if( ! data.disable_browser_autocompletes ){ #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id + '-' + data.type }}"
			<# } else { #>
				name="{{ data.custom_name_attribute || 'nf-field-' + data.id }}"
			<# } #>
				
	>
	<input
			type="tel"
			value="{{{ _.escape( data.value ) }}}"
			class="ninja-forms-field nf-element"
			id="nf-field-{{{ data.id }}}"
			name='_phone'

			{{{ data.renderPlaceholder() }}}
	
			aria-invalid="false"
			aria-describedby="nf-error-{{{ data.id }}}"
			aria-labelledby="nf-label-field-{{{ data.id }}}"

			{{{ data.maybeRequired() }}}

			<# if( ! data.disable_browser_autocompletes ){ #>
				autocomplete="tel"
			<# } else { #>
				{{{ data.maybeDisableAutocomplete() }}}
			<# } #>
	>
</script>
